.content {
  margin: 0 auto;
  min-height: 50vh;
  max-width: 1280px;
}

@media screen and (max-width: 880px) {
  .content {
    margin: 0 19px;
  }
}

.content__section {
  margin: 0 auto;
  width: 100%;
  padding-top: 30px;
}

.content__section_anchored {
  scroll-margin-top: 151px;
}

.content__title-section {
  font-weight: 500;
  font-size: 64px;
  text-transform: uppercase;
}

.content__section_coins {
  background: url('../images/coins.jpg') round;
}

.content__section_crypto {
  background: url('../images/crypto.jpg') round;
  padding: 87px 0 88px;  
}

.crypto_btn, .currency__btn {
  max-width: 358px;
}

.crypto__title {
  max-width: 503px;
}

.crypto__text {
  max-width: 604px;
}

.content__title {
  font-size: 80px;
  font-weight: 500;
  padding: 32px;
  text-align: center;
  text-transform: uppercase;
}

.content__title_clickable {
  cursor: pointer;
}

.content__title_clickable:hover {
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
}

.content__title_dark {
  color: #111;
}

.content__text {
  margin: 0 10px;
}

.content__text_l {
  font-size: 20px;
}

.content__text_full-width {
  width: 100%;
}

.content__text_hidden {
  display: none;
}

.content__block {
  margin-top: 10px;
}

.content__block_header {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.content__block_title {
  font-size: 64px;
}

.content__block_bordered {
  border: solid #D9B972 0.2px;
  padding: 16px 24px;
  margin: 10px;
  width: 395px;
  border-radius: 24px;
  font-size: 20px;
}

.content__block_line {
  border: solid #76757a 0.5px;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 8px;
  justify-content: space-between;
}

.content__block_filled {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  color: #1B1B1F;
  padding: 8px;
  margin: 8px;
  text-align: center;
}

.content__block_half {
  width: 50%;
}

.content__link {
  text-decoration: none;
  background-color: transparent;
  color: #FFF;
}

.content__img, .content__icon {
  max-width: 50%;
  max-height: 50%;
}

.content__icon {
  margin-left: 12px;
}

.content__full-img {
  max-width: 100%;
  max-height: 100%;
}

.content__logo {
  margin-right: 20px;
}

.table {
  line-height: 25px;
  width: 100%;
}

.table__item {
  border: solid 1px;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.table__item-name {
  background-color: #474D57;
}

.table .form {
  width: auto;
}

.content__item {
  max-width: 604px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #1B1B1F;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;

  background: #FFFFFF;
  border-radius: 8px;

  padding: 16px;
  margin-bottom: 16px;
  justify-content: center;
}

.text__center {
  text-align: center;
  max-width: 604px;
  margin: auto;
  font-size: 20px;
  line-height: 28px;
}

@media screen and (max-width: 880px) {
  .content-transform {
    flex-direction: column;
    align-items: center;
  }

  .content__title-section {
    height: 200px;
  }

  .content__section_coins, .content__section_crypto {
    background-repeat: round repeat;
    height: auto;
  }

  .content__block_third {
    width: 100%;
    font-size: 20px;
  }

  .content__block_half {
    width: 100%;
  }

  .content__text_grow {
    flex-grow: 1;
  }

  .content__img {
    max-width: 100%;
    height: 100%;
  }

  .table {
    margin-bottom: 20px;
  }

  .map {
    width: 300px;
  }
}
