.content {
  margin: 0 auto;
  min-height: 50vh;
  max-width: 880px;
}

@media screen and (max-width: 880px) {
  .content {
    margin: 0 19px;
  }
}

.content__section {
  margin: 0 auto;
  width: 100%;
  padding-top: 30px;
}

.content__title-section {
  height: 400px;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}

.content__section_coins-title {
  background: url('../images/coins-title.jpg') round;
  color: #d73700;
}

.content__section_coins {
  background: url('../images/coins.jpg') round;
}

.content__section_crypto-title {
  background: url('../images/crypto-title.png') round;
  color: #f9ff00;
}

.content__section_crypto {
  background: url('../images/crypto.jpg') round;
}

.content__title {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.content__title_clickable {
  cursor: pointer;
}

.content__title_clickable:hover {
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
}

.content__title_dark {
  color: #111;
}

.content__text {
  margin: 0 10px;
}

.content__text_l {
  font-size: 20px;
}

.content__text_full-width {
  width: 100%;
}

.content__text_hidden {
  display: none;
}

.content__block {
  margin-top: 10px;
}

.content__block_bordered {
  border: solid;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
}

.content__block_third {
  width: 33%;
}

.content__link {
  text-decoration: none;
  background-color: transparent;
  color: #FFF;
}

.content__img {
  max-width: 50%;
  max-height: 50%;
}

.content__full-img {
  max-width: 100%;
  max-height: 100%;
}

.content__logo {
  margin-right: 20px;
}

.table {
  line-height: 25px;
  width: 100%;
}

.table__item {
  border: solid 1px;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.table__item-name {
  background-color: #474D57;
}

.table .form {
  width: auto;
}

.content__item {
  font-size: large;
}

.text__center {
  text-align: center;
}
