.crypto__page {
  font-size: 18px;
  line-height: 22px;
  padding: 24px 0;
  width: 80%;
}

.title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cursive {
  font-style: italic;
}

.crypto__page div {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .crypto__page {
    padding: 12px;
  }
}

@media screen and (max-width: 425px) {
  .crypto__page {
    width: 95%;
  }
}
