.exchange {
  background: url("../images/ellipse.svg") round;
  margin-top: 112px;
}

.form-exchange  {
  padding: 36px 7px;
  background: #FFF;
  border: 4px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.form-exchange__input {
  padding: 12px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.form-exchange__select {
  width: 100%;
  flex-grow: 1;
  height: 44px;
  padding: 10px 12px;
  padding-left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.form-exchange__select-img {
  width: 44px;
  height: 44px;
  padding: 9px 8px;
  padding-right: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.form-exchange__field {
  margin: 0 26px;
  min-width: 150px;
  width: 290px;
}

.form-exchange__arrows {
  margin-top: 20px;
}

.form-exchange__select-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.form-exchange__btn {
  align-items: center;
  padding: 12px 16px;
  margin-right: 26px;
  height: 45px;

  background: #59588D;
  border: solid 1px #59588D;
  border-radius: 3px;
  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #FFFFFF;
}

.form-exchange__btn_light {
  background: #FFF;
  color: #59588D;
}

.form-exchange__btn_light a:hover {
  color: #59588D;
  opacity: 0.5;
}

.form-exchange__result {
  margin-left: 26px;
  color: #000;
  margin-bottom: 20px;
}

.form-exchange__result_hidden {
  visibility: hidden;
}

.form-exchange__result img {
  width: 24px;
  height: 24px;
  margin-left: 10px;  
  margin-top: -3px;
}

.form-exchange__result span {
  margin: 0 10px;
}


@media screen and (max-width: 768px) {
  .exchange {
    margin-top: 50px;
  }

  .form-exchange {
    padding-top: 0;
  }

  .form__select-container, .form-exchange__result {
    flex-direction: column;
  }

  .form-exchange__field {
    margin: 0 10px 10px;
  }

  .form-exchange__arrows {
    width: 44px;
    height: 44px;
    margin: auto;
    transform: rotate(90deg);
  }

  .form-exchange__input {
    width: 100%;
  }
}
