.footer {
  color: #545454;
  width: 100%;
  margin: 0px auto;
  padding: 0px 24px 34px;
  font-size: 20px;
  line-height: 28px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}


.footer__item {
  font-size: 19px;
}

.footer__text {
  color: #FFF;
}

.footer__icon {
  margin-right: 20px;
}

.footer__whatsapp {
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
    padding: 48px 19px 36px;
  }

  .footer__item {
    align-self: center;
    margin-top: 20px;
  }
  
  .footer__text {
    flex-direction: column;
    justify-content: center;
  }
}
