.form {
  width: 100%;
  height: 100%;
  max-width: 500px;
  border: solid 1px #FCD535;
  padding: 20px;
  border-radius: 10px;
}

.form__select {
  width: 100%;
  flex-grow: 1;
  border-radius: 5px;
  text-align: center;
}

.form__select-container {
  width: 100%;
  justify-content: space-between;
}

.form__select-group {
  width: 48%;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px;
}

.form__select-label {
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  height: 50px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-top: 30px;
  padding: 0 10px;
  border: solid 1px #FCD535;
}

.form__btn {
  cursor: pointer;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  background-color: #292523;
  color: #D9B972;
  border: 1px solid #D9B972;
  border-radius: 8px;
  padding: 5px;
}

.form__btn:hover {
  background-color: #d7a205;
  color: #292523;
}

.form__btn_half-width {
  width: 50%;
}
