.content__title {
  height: 200px;
  font-size: 20px;
  padding-top: 20px;
  background: url('../../images/gold.webp') no-repeat;
  border: 1px solid red;
}

.content__title_gold {
  background: url('../../images/goldd.jpeg') no-repeat;
  
}

.content__title_crypto {
  background: url('../../images/crypto.jpg') no-repeat;
}


.content__title_coins {
  background: url('../../images/coins.jpg') no-repeat;

}
